*
{
    background-image:url( "bb1.jpg" ); 
background-repeat: no-repeat; 
}
#fa{
float: right;
}
#footer{
    position: fixed;
     bottom:0;
     right: 0;
}
#bnm{
display: -webkit-inline-flex;

}
#mm {
    position: absolute;
    right: 40px;
}

#mmm {
    position: absolute;
    top: 140px;
    left: 50px;
    z-index: 4;
}
#mmmm {
    position: absolute;
    top: 150px;
    z-index: 3;
    left: 12px;
}